.container {
  display: grid;
}

.skeleton {
  display: block;
  height: 100%;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    90deg,
    var(--type-2-dark) 0%,
    var(--modal-bg) 50%,
    var(--type-2-dark) 100%
  );
  background-color: var(--type-2-dark);
  background-size: 200%;
  animation: infinite skeleton 3s linear;
  grid-area: 1/1;
}

.image {
  display: block;
  grid-area: 1/1;
  border-radius: 0.5rem;
  opacity: 0;
  transition: 0.2s;
}

@keyframes skeleton {
  from {
    background-position: 200%;
  }

  to {
    background-position: -200%;
  }
}
