.container {
  background-color: var(--modal-bg);
  margin-top: 3rem;
  border-radius: 0.3rem;
  overflow: hidden;
  width: calc(100% - (27rem + 3.4vw));
}

.image {
  height: 18rem;
  background-color: var(--type-6-dark);
}

.image img {
  padding: 2rem 4rem 2rem 2rem;
  align-items: center;
  justify-content: center;
}
.info {
  height: 18rem;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  padding: 2.5rem 3rem;
}
.info > div {
  margin-bottom: 1.2rem;
}
.info p {
  font-size: 1.4rem;
  color: var(--type-4-light);
  font-weight: 500;
  line-height: 1.4;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.info span {
  background-color: var(--type-5-dark);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  margin-right: 1rem;
}
.info h2 {
  font-size: 1.4rem;
}

.priceContainer {
  padding: 2.5rem 3.5rem;
  gap: 2rem;
  justify-content: flex-end;
  border-top: 1px solid var(--type-4-dark);
}
.priceContent {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 60%;
}
.price,
.priceContent button {
  font-size: 1.4rem;
}
.price {
  flex: 0 0 auto;
}
.priceContent button {
  font-size: 1.2rem;
}

@media only screen and (max-width: 80em) {
  .container {
    width: 100%;
  }
  .priceContent {
    width: 84%;
  }
}

@media only screen and (max-width: 41.25em) {
  .container > div {
    flex-direction: column;
  }
  .image {
    height: 30rem;
  }
  .info {
    padding: 2rem;
    justify-content: center;
  }
  .info h2 {
    font-size: 1.6rem;
  }
  .info p {
    font-size: 1.6rem;
  }

  .priceContent {
    width: 100%;
    right: initial;
    flex-direction: column;
  }
  .price,
  .priceContent button {
    font-size: 1.6rem;
    flex: 1;
  }
}

@media only screen and (max-width: 17.5em) {
  .image {
    height: 20rem;
  }
  .price,
  .priceContent button {
    font-size: 1.4rem;
  }
}
