.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

@media (max-width: 64em) {
  .card {
    width: 95%;
    margin: 2rem auto 10rem;
    grid-template-columns: 1fr;
  }
}
