.header {
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.9rem;
}

.btn {
  padding: 0.8rem 1.8rem;
  border-radius: 0.4rem;
  border: 1px solid var(--type-4-light);
  cursor: pointer;
  transition: all 0.2s ease;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  color: var(--type-2-light);
}

.btn:hover {
  background-color: var(--type-6-dark);
}

@media (max-width: 64em) {
  .title {
    font-size: 1.8rem;
  }
  .btn {
    font-size: 1.2rem;
  }
}

@media (max-width: 17.5em) {
  .title {
    font-size: 1.5rem;
  }
  .btn {
    padding: 0.8rem 1.2rem;
  }
}
