.container {
  color: var(--type-2-light);
  margin-bottom: 10rem;
}
.title {
  font-size: 3.5rem;
  display: block;
  margin-bottom: 3rem;
  text-transform: initial;
  line-height: 1.5;
}

.status {
  display: block;
  text-transform: uppercase;
  font-size: 1.05rem;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
}
.status:hover {
  text-decoration: underline;
}
.status span {
  font-weight: 600;
  display: inline;
}

.status span::after {
  content: "";
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--col-1);
  border-radius: 50%;
  margin-left: 0.5rem;
}

.camp {
  position: relative;
}
.input {
  width: 100%;
  padding: 1.05rem 5rem;
  border-radius: 0.4rem;
  min-height: 5rem;
  font-size: 1.4rem;
  color: var(--type-6-light);
}

.input::placeholder {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--type-6-light);
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  color: var(--type-2-dark);
  left: 2.4rem;
  font-size: 1.4rem;
  line-height: 0;
  width: 1rem;
}

.categories {
  gap: 2rem;
  margin-top: 3rem;
}

.subtitle {
  display: block;
  margin-top: 8rem;
  font-size: 2.2rem;
  padding-bottom: 2.5rem;
  padding-bottom: 2.5rem;
}

.gameContent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  row-gap: 3rem;
}

.gameContent div:first-child {
  grid-column: 1/4;
  width: 100%;
}
.account,
.business {
  margin-top: 8rem;
}

.accountContent {
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  display: grid;
}

.business div:first-child {
  grid-column: 1/-1;
}

@media (max-width: 82em) {
  .container {
    width: 90%;
  }
  .title {
    font-size: 4rem;
  }
  .status {
    font-size: 1.2rem;
  }
  .status span::after {
    width: 1rem;
    height: 1rem;
  }
  .input {
    font-size: 1.6rem;
    padding: 1.2rem 5rem;
  }

  .input::placeholder {
    font-size: 1.6rem;
  }
  .icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 64em) {
  .container {
    width: 97%;
  }
  .title {
    font-size: 4.4rem;
  }
  .status {
    font-size: 1.4rem;
  }
  .input {
    font-size: 1.8rem;
    padding: 1.4rem 5.6rem;
  }

  .input::placeholder {
    font-size: 1.8rem;
  }
  .icon {
    font-size: 1.6rem;
  }
}

@media (max-width: 48em) {
  .status span {
    display: inline-block;
    margin-top: 0.5rem;
  }
  .title {
    line-height: 1.2;
    font-size: 3.35rem;
  }

  .input {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  .categories {
    flex-direction: column;
  }

  .gameContent {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    row-gap: 3rem;
  }

  .gameContent div:first-child {
    grid-column: 1/-1;
  }
  .accountContent {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 17.5em) {
  .title {
    font-size: 2.8rem;
  }
}
