.container {
  background-color: var(--modal-bg);
  margin-top: 3rem;
  border-radius: 0.3rem;
  overflow: hidden;
  width: calc(100% - (27rem + 3.4vw));
}

.image div {
  width: 35rem;
  flex: 0 0 100%;
}
.image img {
  border-radius: 0;
}
.info {
  height: 18rem;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  padding: 2.5rem 3rem;
}
.info > div {
  margin-bottom: 1.2rem;
}
.info p {
  font-size: 1.4rem;
  color: var(--type-4-light);
  font-weight: 500;
  line-height: 1.4;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.info span {
  background-color: var(--type-5-dark);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  margin-right: 1rem;
}
.info h2 {
  font-size: 1.4rem;
}

.priceContainer {
  justify-content: flex-end;
  padding: 2.5rem 3.5rem;
  border-top: 1px solid var(--type-4-dark);
  align-items: center;
  gap: 1.2rem;
  width: 100%;
}

.priceContainer span {
  width: 20rem;
}
.price {
  font-size: 1.4rem;
}

@media (max-width: 80em) {
  .container {
    width: 100%;
  }
}

@media (max-width: 46em) {
  .image div {
    width: 100%;
  }
  .priceContainer span {
    width: 25rem;
  }
  .priceContainer span button {
    padding: 2rem;
    font-size: 1.4rem;
  }
  .info > div h2 {
    font-size: 1.8rem;
  }
  .info > div span {
    font-size: 1.1rem;
  }
}
@media (max-width: 41.25em) {
  .container > div {
    flex-direction: column;
  }

  .info {
    padding: 2rem;
    height: 100%;
    justify-content: center;
  }
  .info h2 {
    font-size: 1.6rem;
  }
  .info p {
    font-size: 1.6rem;
  }

  .priceContainer {
    width: 100%;
  }
  .priceContainer span {
    width: 100%;
  }
  .price {
    font-size: 1.6rem;
  }
  .priceContainer span {
    max-width: 100%;
  }
  .priceContainer div button {
    font-size: 1.8rem;
    padding: 2rem;
  }
}

@media only screen and (max-width: 17.5em) {
  .priceContainer {
    padding: 2rem;
  }
  .priceContainer span button {
    font-size: 1.3rem;
    padding: 1.6rem;
  }

  .info p {
    font-size: 1.4rem;
  }

  .info > div h2 {
    font-size: 1.4rem;
  }
  .info > div span {
    font-size: 1rem;
  }
}
