.container div {
  height: 19vw;
  margin-bottom: 1rem;
  border-radius: 1.2rem;
  overflow: hidden;
  cursor: pointer;
}

.container div img {
  object-fit: cover;
  transition: all 0.3s ease-out;
  height: 100%;
}

.container:hover img {
  transform: scale(1.1);
}
.title {
  font-size: 1.4rem;
  font-weight: 500;
}

@media (max-width: 82em) {
  .container div {
    height: 23vw;
  }
}

@media (max-width: 48em) {
  .container div {
    height: 55vw;
  }

  .title {
    font-size: 1.6rem;
  }
}
