.container {
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.link {
  font-size: 1.4rem;
  color: var(--type-2-light);
  border-bottom: 1px solid var(--type-5-dark);
  transition: all 0.2s;
  cursor: pointer;
}

.link:hover {
  border-color: var(--type--light);
}

.paragraph {
  font-size: 1.4rem;
  color: var(--type-4-light);
  line-height: 1.5;
}
.text {
  font-size: 1.4rem;
  color: var(--type-2-light);
  font-weight: bold;
}
@media (max-width: 57em) {
  .paragraph,
  .text,
  .link {
    font-size: 1.6rem;
  }
}

@media (max-width: 48em) {
  .paragraph,
  .text,
  .link {
    font-size: 1.6rem;
  }
  .container {
    gap: 2rem;
  }
}
