.container {
  position: absolute;
  background-color: var(--modal-bg);
  padding: 1rem 2rem;
  top: 8.3rem;
  width: 18rem;
  border-radius: 0.3rem;
  transform: translateY(-2rem);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  z-index: 100;
}

.container:global(.active) {
  transform: translateY(0);
  overflow: visible;
  visibility: visible;
  opacity: 1;
}
.content li a {
  display: block;
  color: var(--type-4-light);
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.content li a:focus {
  border-color: var(--type-1-light);
  color: var(--type-1-light);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 9.7rem;
  background-color: transparent;
  overflow: hidden;
  visibility: hidden;
  opacity: 1;
  z-index: 100;
}

.overlay:global(.active) {
  overflow: visible;
  visibility: visible;
  opacity: 0;
}

@media only screen and (max-width: 64em) {
  .overlay:global(.active) {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .container {
    position: absolute;
    background-color: var(--body-bg);
    padding: 2.7rem calc(3.2rem + 1.5rem) 2.7rem 3.2rem;
    height: 25rem;
    width: calc(100% - calc(3.2rem + 0.9rem));
    left: 0;
    bottom: -10rem;
    margin: 0 2rem;
    left: 0;
  }
  .container li {
    display: block;
    min-height: calc(19.6rem / 3);
  }
  .container li:not(:last-child) {
    border-bottom: 1px solid var(--type-2-dark);
  }
  .container li a {
    position: relative;
    font-size: 1.6rem;
    top: 1.3rem;
    padding: 10px 0;
  }
  .container li a:focus {
    border-color: transparent;
  }
}
