.price,
.priceCurrent {
  width: 100%;
  gap: 1rem;
  font-size: 1.4rem;
}

.porcentage {
  font-size: 1rem;
  padding: 4px 8px;
  border-radius: 0.4rem;
  background-color: var(--btn-3);
}

.oldPrice {
  color: var(--type-4-light);
  text-decoration: line-through;
}

@media (max-width: 80em) {
  .price {
    justify-content: space-between;
  }
  .priceCurrent {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
  }
}
@media (max-width: 64em) {
  .priceCurrent {
    font-size: 1.6rem;
  }
  .porcentage {
    font-size: 1.2rem;
  }
}

@media (max-width: 48em) {
  .price {
    gap: 2rem;
    width: initial;
  }
  .priceCurrent {
    all: unset;
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    gap: 1.5rem;
  }
}

@media (max-width: 17.5em) {
  .price {
    width: 100%;
    justify-content: space-between;
  }
  .priceCurrent {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
  }
}
