.container {
  background: linear-gradient(
      315deg,
      rgb(32, 14, 67),
      rgb(3, 5, 86),
      rgb(4, 4, 24)
    )
    rgb(3, 5, 86);

  border-radius: 0.5rem;
}

.picture {
  flex: 0 0 50%;
}
.picture img {
  width: 95%;
}
.logo {
  opacity: 1;
  max-width: 6rem;
}

.content {
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: end;
  text-align: center;
  margin: 4rem;
  flex: 1;
}

.content h2 {
  font-size: 4.4rem;
  font-weight: bold;
  text-transform: initial;
}
.content p {
  font-size: 1.4rem;
  color: var(--type-2-light);
  font-weight: 500;
}
.btn button {
  color: var(--type-2-dark);
  letter-spacing: 0.5;
  font-weight: bold;
}

@media (max-width: 93.75em) {
  .content h2 {
    font-size: 3rem;
  }
}

@media (max-width: 80em) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
  .content * {
    font-size: 1.6rem;
  }
  .content p {
    font-size: 1.6rem;
  }
}

@media (max-width: 48em) {
  .picture {
    display: none;
  }
}
