.overlay {
  position: fixed;
  width: 100%;
  height: 100%;

  margin: 0;
  z-index: 1100;
  visibility: hidden;
  top: 7.2rem;
  left: 0;
}

.container {
  position: fixed;
  background-color: var(--modal-2-bg);
  width: 60rem;
  padding: 4rem;
  margin: 16px;
  border-radius: 1.4rem;
  z-index: 120;
  transform: translateY(-4rem);
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2rem;
  align-items: start;
  justify-content: start;
}
.primary {
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}
.primary div {
  width: 100%;
}

.overlay:global(.active) {
  visibility: visible;
}
.overlay:global(.active) .container {
  opacity: 1;
  transform: initial;
  visibility: visible;
}

.container h2 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 0 0 10px;
  padding: 0 0 0 6px;
}

@media (max-width: 47em) {
  .container {
    margin: 2rem;
    background-color: var(--modal-2-bg);
    width: calc(100vw - 4rem);
    height: calc(100vh - 21rem);
    overflow: hidden;
  }
  .primary {
    gap: 3rem;
  }
  .content {
    grid-template-columns: 1fr;
    overflow-y: scroll;
    gap: 3rem;
    height: 100%;
  }
}
