.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  margin-top: 5rem;
}

.content:not(:last-child) {
  padding-right: 1.2rem;
  border-right: 1px solid var(--type-3-dark);
}

@media only screen and (max-width: 48em) {
  .container {
    display: flex;
  }
  .content {
    flex-shrink: 0;
    width: 70vw;
    margin-bottom: 1.5rem;
  }
}
