.title {
  margin: 4rem 0 3rem 0;
  font-size: 1.8rem;
}

.reviews {
  gap: 3rem;
  align-items: center;
  flex-wrap: wrap;
}

.info {
  gap: 2rem;
  margin-top: 3rem;
  width: calc(100% - (27rem + 3.4vw));
}

.info div {
  gap: 1rem;
}
@media only screen and (max-width: 93.75em) {
  .info {
    width: 100%;
  }
}
@media only screen and (max-width: 48em) {
  .reviews {
    justify-content: center;
  }
  .slide {
    width: calc(100vw - 4rem);
    overflow-x: hidden;
  }
}
