.container {
  color: var(--type-2-light);
  margin-bottom: 10rem;
}

.content {
  margin-top: 2rem;
  gap: 3rem;
  align-items: start;
}
.cardContainer {
  flex: 5;
  gap: 2rem;
}
.cardContainer > h2 {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.cardContainer > h2 span {
  color: var(--type-4-light);
}
.card {
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 64em) {
  .option {
    justify-content: space-between;
  }
  .option span {
    font-size: 1.6rem;
  }

  .filter {
    flex: 0 0 auto;
  }
  .filter p {
    font-size: 1.6rem;
  }

  .cardContainer {
    flex: 0 0 100%;
  }
}
