.btn {
  display: flex;
  background-color: transparent;
  color: var(--type-2-light);
  border: none;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.1s;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
}

.primary {
  position: relative;
}
.secondary {
  border: 1px solid var(--type-5-light);
  padding: 1.1rem;
  overflow: hidden;
}

.primary::before {
  content: "";
  display: block;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--type-1-light);
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s;
}

.primary:hover::before {
  opacity: 0.12;
}
.secondary:hover {
  background-color: var(--type-3-dark);
}

@media only screen and (max-width: 48em) {
  .btn {
    padding: 2rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 17.5em) {
  .btn {
    font-size: 1.5rem;

    font-size: 1.4rem;
  }
}
