.container {
  display: flex;
  margin-top: 10rem;
  background-color: var(--modal-bg);
  color: var(--type-2-light);
}

.content {
  max-width: 93%;
  margin: 0 auto;
  padding: 2.5rem 0;
}

.header {
  justify-content: space-between;
}
.social {
  gap: 1rem;
  font-size: 2.5rem;
  color: var(--type-4-light);
}
.social i {
  cursor: pointer;
  transition: all 0.3s;
}

.social i:hover,
.arrow:hover {
  color: var(--btn-3);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border: 2px solid currentColor;
  transform: rotate(180deg);
  font-size: 2rem;
  color: var(--type-4-light);
  border-radius: 0.2rem;
  padding: 1.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.links {
  margin-top: 2.5rem;
}
.title {
  font-size: 1.2rem;
  color: #ccc;
  font-weight: 500;
  opacity: 0.4;
  margin-bottom: 1.2rem;
  letter-spacing: 0.05rem;
}

.grouphLinks {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 2rem;
  align-items: start;
  margin-bottom: 2.5rem;
}

.line {
  display: block;
  height: 1px;
  background-color: var(--type-5-dark);
}

.text {
  margin: 2.5rem 0;
  max-width: 50%;
  line-height: 2.2;
  color: var(--type-4-light);
  font-size: 1rem;
}

.termos {
  justify-content: space-between;
}
.termos img {
  height: 1.8vw;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s;
}
.termos img:hover {
  opacity: 1;
}
.termosLinks {
  gap: 1.2rem;
}

@media only screen and (max-width: 75em) {
  .title {
    font-size: 1.3rem;
  }

  .text {
    font-size: 1.2rem;
    max-width: 100%;
  }
  .termos img {
    height: 2.8vw;
  }
}

@media only screen and (max-width: 64em) {
  .content {
    padding-top: 4rem;
  }
  .termos img {
    height: 3.8vw;
  }
}

@media only screen and (max-width: 48em) {
  .grouphLinks {
    display: flex;
    flex-wrap: wrap;
  }
  .text {
    text-align: center;
  }

  .termos {
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .termosLinks {
    flex-direction: column;
    justify-content: center;
  }
  .termos img {
    height: 5vw;
  }
}

@media only screen and (max-width: 17.5em) {
  .termos img {
    height: 9vw;
  }
}
