.container {
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  color: var(--type-2-light);
  cursor: pointer;
}

.image {
  position: relative;
}

.iconContainer {
  display: grid;
  position: absolute;
  top: 1vw;
  right: 1vw;
  z-index: 100;
  background-color: var(--body-bg);
  width: 1.8rem;
  height: 1.8rem;
  transition: opacity 0.1s ease;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--type-2-light), 0 0 15px rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.icon {
  display: grid;
  color: var(--type-2-light);
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  height: 1.8rem;
  text-align: center;
  transform: rotate(360deg);
  grid-area: 1/1;
  transition: transform 0.4s linear, opacity 0.1s 0.4s linear;
}

.image {
  position: relative;
}
.image img {
  border-radius: 0.5rem;
}
.image:hover {
  mix-blend-mode: screen;
}
.image:hover .iconContainer {
  opacity: 1;
}

.subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0.6;
  letter-spacing: 0.1rem;
}

.title {
  font-size: 1.4rem;
  width: 14vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  font-size: 1.4rem;
  color: var(--type-4-light);
  margin-bottom: 2rem;
}
.footer {
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: var(--body-bg);
  padding: 0.5rem 0;
  font-size: 1.2rem;
  bottom: 0;
  border-radius: 0 0 0.4rem 0.4rem;
}

@media only screen and (max-width: 64em) {
  .title {
    font-size: 1.6rem;
    width: 22vw;
  }
  .description {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 48em) {
  .container {
    flex-shrink: 0;
    width: 70%;
    overflow-x: hidden;
    margin-bottom: 1.5rem;
  }
  .container:not(:last-child) {
    margin-right: 0;
  }

  .iconContainer {
    top: 3.5vw;
    right: 3.5vw;
    height: 4vw;
    width: 4vw;
    opacity: 1;
    box-shadow: 0 0 0 1.5px var(--type-2-light);
  }

  .icon {
    height: 4vw;
    width: 4vw;
    font-size: 1rem;
    border-radius: 50%;
  }
  .title {
    all: unset;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 17.5em) {
  .circle {
    font-size: 1.6rem;
  }

  .icon {
    font-size: 0.8rem;
    text-indent: -0.2px;
  }
}
