.container {
  background-color: var(--body-bg);
  padding: 2.5rem 0;
  position: relative;
}
.container:global(.active) {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.content {
  margin-right: auto;
  gap: 2rem;
}

.input {
  position: relative;
  left: 2rem;
  margin: 8px 0;
}
.input i {
  position: relative;
  margin-right: -2.6rem;
  height: 0.2rem;
  color: var(--type-4-light);
  line-height: 0;
}

.input input {
  position: relative;
  all: unset;
  background-color: var(--modal-bg);
  border-radius: 3rem;
  line-height: 0;
  width: 13rem;
  padding: 1.3rem 5rem 1.3rem 4rem;
}
.input input:focus {
  background-color: var(--type-3-dark);
}

.input input::placeholder {
  color: var(--type-4-light);
  font-size: 1.2rem;
  margin-right: -3rem;
  font-weight: 500;
}
.nav {
  position: relative;
  left: 1.5rem;
}
.nav a .nav,
.carrinho {
  gap: 0.5rem;
}
.container a {
  padding: 10px;
  border: 1px solid transparent;
}
.container a:focus {
  color: var(--type-1-light);
  border-color: var(--type-1-light);
}
.container a:hover {
  background-color: inherit;
  color: var(--type-1-light);
}

.searchRender {
  position: absolute;
  background-color: var(--modal-bg);
  display: grid;
  grid-template-columns: 1fr;
  z-index: 1000;
  width: 48rem;
  left: -1rem;
  margin-top: 1rem;
  padding: 2rem 1rem;
  border-radius: 0.4rem;
}
.searchError {
  font-size: 1.2rem;
  color: var(--type-4-light);
}

@media only screen and (max-width: 80em) {
  .nav {
    all: unset;
    color: var(--type-2-light);
    padding: 10px;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
  }

  .link {
    font-size: 1.4rem;
    transition: all 0.3s;
  }
  .nav {
    position: relative;
    left: 1.5rem;
  }

  .nav i {
    position: relative;
    margin-left: 0.5rem;
    top: 0.1rem;
    color: var(--type-2-light);
    font-size: 1.1rem;
    transition: all 0.3s;
  }
  .nav:global(.active) {
    border-color: var(--type-1-light);
    color: var(--type-1-light);
  }
  .nav:global(.active) .link,
  .nav:global(.active) i {
    color: var(--type-1-light);
  }
  .nav:hover .link,
  .nav:hover i {
    color: var(--type-1-light);
  }

  .nav:global(.active) i {
    transform: rotate(-180deg);
  }
}

@media only screen and (max-width: 64em) {
  .input {
    position: initial;
    left: initial;
    box-sizing: border-box;
    margin-right: calc(50vw - 13rem);
  }
  .navMobile {
    padding: 0 calc(3vw + 18px);
  }

  .input input {
    display: none;
  }
  .input i {
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.2s;
  }
  .input i:hover {
    color: var(--type-1-light);
  }
  .nav li i {
    top: 0.2rem;
    font-size: 1.2rem;
  }
  .nav li span {
    font-size: 1.8rem;
  }

  .carrinho {
    gap: 2rem;
  }
  .carrinho i {
    color: var(--type-5-light);
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.2s;
  }

  .carrinho i:hover {
    color: var(--type-1-light);
  }

  .searchRender {
    width: 88%;
    left: 50%;
    top: 8rem;
    transform: translate(-50%, 0);
  }
}
